# Ambiente virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.so
.eggs/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# IDE / SO
.idea/
.vscode/
.DS_Store
Thumbs.db

# Dados gerados (opcional: remova esta linha se quiser versionar o CSV)
# dados/dados_sinteticos_idosos.csv
